<div class="bcrl_settings-input bcrl_input-app-options-icon-size @CssClassString"
     style="@CssStyleString">
    
    Icon-Size (px):&nbsp;
    <input type="number"
           class="bcrl_input"
           @bind="IconSizeInPixels"/>
</div>