@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bcrl_drag-initializer"
     style="@StyleCss"
     @onmousemove="DispatchSetDragStateActionOnMouseMove"
     @onmouseup="DispatchSetDragStateActionOnMouseUp">
    
</div>